:root{
    --primary: #00B4D8;
    --secondary: #212529;
  }

*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

#navbar{
    background-color: #212529b1;
}

#navbar h2:hover{
    color: #00B4D8;
}

#backPrimary{
    background-color: #212529b0;
    margin: auto;
    width: 90%;
    border-radius: 20px;
}

#sobremi{
    background-color: #212529b0;
    margin: auto;
    width: 90%;
    border-radius: 20px;
}

#img img{
    width: 50%;
    margin-left: 26%;
}

#img2 img{
    width: 60%;
    height: 70%;
    margin-left: 26%;
    image-rendering: auto;
}

#html:hover{
    color:#00B4D8
}

#css:hover{
    color:#00B4D8
}

#js:hover{
    color:#00B4D8
}

#java:hover{
    color:#00B4D8
}